body{
  font-family: 'Trebuchet MS';
  background-image: url(bg.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1{
  color: goldenrod;
}

.btn-amarelo{
  color: #016f32;
  width: 150px;
  background: goldenrod;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 2px;
}

#message-el{
  font-style: italic;
}
